body {
  font-family: 'Work Sans', sans-serif !important;
}

.landing-wrapper {
  background-image: url("../assets/images/news.jpeg");
  background-color: black;
  background-size: cover;
}

.dark-overlay {
  background-color: rgba(255,255,255,0.85);
}

.blue {
  color: rgba(48, 105, 152, 1) !important;
}

.light-blue {
  color: rgba(75, 139, 190, 1) !important;
}

.yellow {
  color: rgba(255, 212, 59, 1) !important;
}

.light-yellow {
  color: rgba(255, 232, 115, 1) !important;
}

.small-spacing {
  letter-spacing: 0.2rem;
}

.font-lightest {
  font-weight: 100;
}

.font-lighter {
  font-weight: 200;
}

.slightly-larger {
  font-size: 130%;
}

.main-heading {
  border-bottom: 1px solid rgba(255, 212, 59, 1);
}

.gray-background {
  background-color: rgba(247,247,245,1.0);
}

.btn-primary {
  background-color: rgba(75, 139, 190, 1) !important;
  border: 1px solid rgba(75, 139, 190, 1) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: rgba(75, 139, 190, 1) !important;
  border: 1px solid rgba(75, 139, 190, 1) !important;
  background-color: #fff !important;
}

.btn-secondary {
  color: rgba(48, 105, 152, 1) !important;
  background-color: rgba(255, 212, 59, 1) !important;
  border: 1px solid rgba(255, 212, 59, 1) !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: rgba(48, 105, 152, 1) !important;
  border: 1px solid rgba(255, 212, 59, 1) !important;
  background-color: #fff !important;
}

/*Navbar*/

.navbar-brand {
  font-size: 250%;
}

.nav-item {
  font-size: 130%;
}

#dashboard-link {
  border-bottom: 1px solid rgba(255, 212, 59, 1);
}

/*Dashboard*/

.dashboard-post-list {
  font-size: 125% !important;
}

/*Comments*/

.comment-heading {
  height: 100%;
}

.comment-heading-container-blue {
  border: 1px solid rgba(75, 139, 190, 1);
  background-color: rgba(75, 139, 190, 0.2);
}

.comment-heading-container-yellow {
  border: 1px solid rgba(255, 212, 59, 1);
  background-color: rgba(255, 212, 59, 0.2);
}

.comment-text {
  border-top: 1px solid rgba(210,210,210,1.0);
  border-right: 1px solid rgba(210,210,210,1.0);
  border-bottom: 1px solid rgba(210,210,210,1.0);
}

.comment-main-heading {
  font-weight: 300;
}

@media screen and (max-width: 575px) {

  .comment-heading-container-blue {
    border-left: none;
    border-right: none;
  }
  
  .comment-heading-container-yellow {
    border-left: none;
    border-right: none;
  }

  .comment-text {
    border-right: none;
  }

}

@media screen and (max-width: 388px) {

  .navbar-brand {
      margin-left: auto !important; 
      margin-right: auto !important; 
      padding-left: auto !important; 
      padding-right: auto !important; 
  }

  .navbar-toggler {
      width: 60%; 
      margin-left: auto !important; 
      margin-right: auto !important; 
      margin-bottom: 5px; 
  }

}