<div class="comments">
  {% for comment in comments %}
  <div class="comment container mt-3">
    <div class="row">
      <div class="comment-heading-container meta col-sm-4 col-lg-3 py-3">
        <!--Format date.-->
        <div class="comment-heading">
          <h3 class="comment-main-heading">
            {{comment.user.username}}
          </h3>
          <h5>
            <span class="font-lighter"><i>{{comment.created_at|format_date}}</i></span>
          </h5>
        </div>
      </div>
      <div class="text comment-text col-sm-8 col-lg-9 py-3">
        <i>"{{comment.comment_text}}"</i>
      </div>
    </div>
  </div>
  {% endfor %}
</div>