<article class="post">
  <div class="title">
    <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
    <!--Format URL by passing post URL into format_url function-->
    <span>({{post.post_url|format_url}})</span>
  </div>
  <div class="meta">
    <!--Format vote count depending on plural; Format date.-->
    {{post.vote_count}} {{post.vote_count|format_plural('point')}} by {{post.user.username}} on {{post.created_at|format_date}}
    |
    <!--Format comment depending on plural.-->
    <a href="/post/{{post.id}}">{{post.comments|length}} {{post.comments|length|format_plural('comment')}}</a>
  </div>
</article>