{% extends "layout/main.html" %}

{% block body %}
<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{post.post_url|format_url}})</span>
    </div>
    <div>
      {{post.vote_count}} {{post.vote_count|format_plural('point')}} by you on {{post.created_at|format_date}}
      |
      <a href="/post/{{post.id}}">{{post.comments|length}} {{post.comments|length|format_plural('comment')}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<h1 class="text-center mt-3 mb-0 font-lighter blue main-heading">Comments</h1>
<div class="gray-background">
  <div class="container">
    <form class="comment-form py-5 px-0 px-md-5 mx-md-5">
      <div class="form-group">
        <textarea class="form-control form-control-lg" name="comment-body" aria-label="Write comment here" maxlength="255"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-block btn-primary">Add Comment <i class="fas fa-plus ml-1"></i></button>
      </div>
    </form>
  </div>
</div>

{% with comments=post.comments %}
  {% include "partials/comments.html" %}
{% endwith %}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/comment-background.js"></script>
{% endblock %}