{% extends "layout/main.html" %}

{% block body %}
<article>
  <div class="mt-3 mb-2 text-center text-lighter">
    <a class="blue" href="/dashboard"> &larr; Back to Dashboard</a>
  </div>
  
  <h1 class="text-center mt-3 mb-0 font-lighter blue main-heading">Edit Post <span>({{post.post_url|format_url}})</span></h1>
  <div class="gray-background">
    <div class="container">
      <form class="edit-post-form py-5 px-0 px-md-5">
        <div class="form-group">
          <input class="form-control form-control-lg" name="post-title" type="text" value="{{post.title}}" aria-label="Edit post title" placeholder="Title" maxlength="100" required/>
        </div>
        <div class="font-lighter mb-3 slightly-larger text-center">
          <div class="text-muted">
            {{post.vote_count}} {{post.vote_count|format_plural('point')}}
          </div>
          <div>
            posted <i>{{post.created_at|format_date}}</i>
            |
            <a href="/post/{{post.id}}">{{post.comments|length}} {{post.comments|length|format_plural('comment')}}</a>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <button type="submit" class="btn btn-lg btn-block btn-primary">Save post</button>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <button type="button" class="delete-post-btn btn btn-lg btn-block btn-danger">Delete post</button>
              </div>
            </div>
          </div>
        </div> 
      </form>
    </div>
  </div>
  
</article>

<h1 class="text-center mt-3 mb-0 font-lighter blue main-heading">Comments</h1>
<div class="gray-background">
  <div class="container">
    <form class="comment-form py-5 px-0 px-md-5 mx-md-5">
      <div class="form-group">
        <textarea class="form-control form-control-lg" name="comment-body" aria-label="Write comment here" maxlength="255"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-block btn-primary">Add Comment <i class="fas fa-plus ml-1"></i></button>
      </div>
    </form>
  </div>
</div>

{% with comments=post.comments %}
  {% include "partials/comments.html" %}
{% endwith %}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/comment-background.js"></script>
{% endblock %}